button
{   
        font-size: 16px;
        background-color: green;
        display: inline-block;
        color:white;
         
}
button:hover{
        background-color: yellowgreen;
}






.move
{
        margin-left: 500px;
}



h1,h2{
        color: brown;
        text-align: center;
}

h3{
        color: orange;
        text-shadow: black 1px 1px;
        text-align: center;
        font-size: 30px;
}

.circle
{
        background: orange;
        border-radius: 50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        color:white;
        display: inline-block;
        font-size: 40px;
        font-weight: bold;
        line-height: 200px;
        margin-left: 550px;
        text-align: center;
        width:200px;
}


.message
{
        background: greenyellow;  
        margin-left:50px;
        width:300px;    
}

.circle
{
        background: orange;
        border-radius: 50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        color:white;
        display: inline-block;
        font-size: 40px;
        font-weight: bold;
        line-height: 200px;
        margin-left: 550px;
        text-align: center;
        width:200px;
}


.move
{
        margin-left: 550px;
        color: green;
        font-size: 19px;
}
 