<div *ngIf="!quizover">    
    <app-question2
     [questionindex]="index"
     (userselected)="receiveuseranswer($event)" 
     (actualanswer)="receivecorrectanswer($event)"
     (questionlength)="receivequestionlength($event)">
     </app-question2 >
     
     <div class="move">
          
    <div *ngIf="!selected">
        
        <button (click)="next()">Next</button>  
        </div>
        <button [disabled]="clicked"(click)="check()">Submit</button> &nbsp;
    <br>
    <br>
    <div class="message">  {{message}}      </div>


    </div> 
</div>

 


<div *ngIf='quizover'>
        <h1>Maths quiz is Completed </h1>
        <h2> Thanks for Attending the quiz </h2>
        <br> <h3> {{result}} </h3>
        <div class="circle">{{score}}/{{qlength}}</div> <br><br><br><br>
    <div class="move">   Click here to return    <button (click)="home()">Quiz Menu</button>  </div>
        
</div>