<div *ngIf="!read">
<div class="guide">
    Please Follow the guide lines<br>
    There are two sections<br>
    1.Each section contains 10 questions.<br>
    2.The pass mark for each section is 50% of the total questions.<br>
    3.Select the option and submit to see the result.<br>
    4.Once you moved to next question. You can't allowed to revisit the previous question.<br>
    5.Please Accept and start the quiz.
    <br>
    <br>
    
   </div>
   <br> <button   (click)="readguide()">Accept</button>
   <br>
   <br>
</div>